.spinner-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 998;

  .mat-spinner {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    z-index: 999;
  }
}
